*{margin: 0%; padding: 0%;}

.container{
margin-left: auto;
margin-right: auto;
display: flex;
    color: blanchedalmond;
    margin-top: 5%;
    width: 80%;
    height: 80%;
}

.textos{
    margin-left: 3%;
}

.textos p{
    margin-top: 1%;
}

.container img{
    border: solid royalblue 1px;
    width: 250px;
    height: 150px;
} 

.botones button{
border:none;
background-color: royalblue;
width: 70px;
height: 30px;
margin-top: 10px;
border-radius: 5px;
}
.margin-left{ margin-left: 10px}

.botones :hover{
    background-color: red;
}